@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    background-color: #333;
    color: #fff;
}

.ojCardTitle {
    padding: 1rem;
    background-color: coral;
    text-align: center;
    font-size: 1.5rem;
    width: 7rem;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
}

.ojCardTitle:hover {
    background-color: gold;
    cursor: pointer;
    transition: all ease 0.1s;
}

.oj-pontuacao-title {
    font-size: 2rem;
}

.oj-game-title {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.oj-jogador-hud {
    margin: 0 0 0 1rem;
    font-size: 1.2rem;
    font-family: Verdana, sans-serif;
}

.oj-add-pontos-icon:hover {
    color: gold;
    cursor: pointer;
    transition: 0.1s ease all;
}

.oj-remove-pontos-icon:hover {
    color: salmon;
    cursor: pointer;
    transition: 0.1s ease all;
}