@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    background-color: #333;
    color: #fff;
}

.active-color {
    background-color: coral;
}

.disabled-color {
    background-color: #808080;
}

.ojCardTitle {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    width: 7rem;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
}

.ojCardTitle:hover {
    background-color: gold;
    cursor: pointer;
    transition: all ease 0.1s;
}

.oj-pontuacao-title {
    font-size: 2rem;
}

.oj-game-title {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
    font-size: 4rem;
}

.oj-jogador-hud {
    margin: 0 0 0 1rem;
    font-size: 1.2rem;
    font-family: Verdana, sans-serif;
}

.oj-add-pontos-icon:hover {
    color: gold;
    cursor: pointer;
    transition: 0.1s ease all;
}

.oj-remove-pontos-icon:hover {
    color: salmon;
    cursor: pointer;
    transition: 0.1s ease all;
}

.oj-questao-titulo {
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

.oj-questao-pergunta {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 1rem;
}

.oj-questao-botao {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
    border: 0px;
    width: 12rem;
}

.oj-questao-botao:hover {
    cursor: pointer;
    background-color: gold;
    transition: 0.1s ease all;
}

.oj-questao-personagem {
    display: flex;
    justify-content: center;
    width: 20rem;
    margin: 0 auto;
}

.oj-poppo {
    position: fixed;
    top: 40rem;
    right: 0;
    left: 84rem;
    bottom: 0;
    margin: 0;
    padding: 0;
}