@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    background-color: #333;
    color: #fff;
}

.ojCardTitle {
    padding: 1rem;
    margin: 1rem;
    background-color: coral;
    text-align: center;
    font-size: 1.5rem;
    width: 8rem;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
}

.ojCardTitle:hover {
    background-color: gold;
    cursor: pointer;
    transition: all ease 0.1s;
}